@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bodyBG: #090909;
  --black: black;
  --white: white;
  --green: #deff18;
}

* {
  cursor: none;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--bodyBG);
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.spin {
  -webkit-animation: spin linear infinite;
  -moz-animation: spin linear infinite;
  animation: spin linear infinite;
}

.spin-med {
  animation-duration: 4s;
}

.spin-slow {
  animation-duration: 8s;
}

.cursor {
  width: .8rem;
  height: .8rem;
  background-color: var(--white);
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  mix-blend-mode: exclusion;
  top: 0;
  left: 0;
  pointer-events: none;
}

/*.cursor:before {
  content: '';
  background-color: var(--white);;
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

.gradient {
  position: absolute;
  top: -9rem;
  left: -7%;
  width: 110%;
  height: 22rem;
  filter: blur(6rem);
  border-radius: 20%;
  /* opacity: 0.5; */
  background: #00abf4;
  background: -moz-linear-gradient(left,  #00abf4 0%, #3f9966 80%);
  background: -webkit-linear-gradient(left,  #00abf4 0%,#3f9966 80%);
  background: linear-gradient(to right,  #00abf4 0%,#3f9966 80%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00abf4', endColorstr='#3f9966',GradientType=1 );


  /* background: #cf355e;
  background: -moz-linear-gradient(left, #cf355e 0%, #fbdd85 28%, #16fbff 56%, #0f3be0 84%);
  background: -webkit-linear-gradient(left, #cf355e 0%, #fbdd85 28%, #16fbff 56%, #0f3be0 84%);
  background: linear-gradient(to right, #cf355e 0%, #fbdd85 28%, #16fbff 56%, #0f3be0 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf355e', endColorstr='#0f3be0', GradientType=1); */
  /* background-size: 200% 200%;
  -webkit-animation: gradient 15s ease infinite;
  -moz-animation: gradient 15s ease infinite;
  animation: gradient 15s ease infinite; */
}

.gradientBorder::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  /*background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);*/
  z-index: -1;
}

.gradientBorder::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 80%;
  top: 1%;
  left: 9%;
  right: 10px;
  bottom: 0;
  background: #cf355e;
  background: -moz-linear-gradient(200deg, #cf355e 0%, #fbdd85 28%, #16fbff 56%, #0f3be0 84%);
  background: -webkit-linear-gradient(200deg, #cf355e 0%, #fbdd85 28%, #16fbff 56%, #0f3be0 84%);
  background: linear-gradient(200deg, #cf355e 0%, #fbdd85 28%, #16fbff 56%, #0f3be0 84%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf355e', endColorstr='#0f3be0', GradientType=1);
  mix-blend-mode: screen;
  z-index: 1;
  filter: blur(60px);
  transition-delay: 0.1s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
}

.gradientBorder:hover::before {
  left: -40px;
  right: 20px;
}

.gradientText {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f3ec78, #af4261);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.perspective {
  transform: perspective(200px) rotateY(3deg);
  transform-origin: center;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  cursor: pointer;
}

.perspective:hover {
  transform: perspective(200px) rotateY(6deg);
}

.activetab:before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 2px solid #fefefe;
  border-radius: 10px;
}


/* Expand section */
#readMore {
  display: none;
}

#readMore:checked~#readMoreContent {
  max-height: 100rem;
}

#readMoreContent {
  max-height: 5rem;
}

/* width */
::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fde047;
}